/* Override mothership CSS general settings */

html {
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transtion: all 1s ease;
  -o-transition: all 1s ease;
}

body {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	margin: 30px 0;
}

.breadcrumb {
	display: none;
}

div.siteinfo img {
  height: 75px;
	margin-left: 70px;
  margin-top: -20px;
}

h1 {
	font-size: 1.6em;
	margin: 0 0;
}

a, a:link, a:visited, a:active {
	color: #00a071;
}

/* main content styling */

h1, h2, h3, h4, h5, h6 {
	color: #808080;
	padding-left: 10px;
}

#main-content {
	background-color: rgba(255, 255, 255, 0.75);
	margin-left: 100px;
	margin-right: 100px;
}

#main-content h1 {
	padding-top: 0px;
}

#main-content p {
	padding-left: 10px;
}

#main-content article.node.node-page div.content div.field.field-type-text-with-summary {
	padding-bottom: 10px;
}

form {
	padding: 0 0 10px 10px;
}

.profile {
	padding-left: 10px;
}

/* Primary Links styling */

header[role="banner"] {
	background-color: transparent;
	border-bottom: medium none;
	height: 50px;
	margin-top: -30px;
}

header[role="banner"] nav ul {
	background-color: black;
	margin-top: 13px;
	padding: 6px;
}

div.header-region a {
	color: white;
	padding-left: 25px;
	padding-right: 25px;
}

.header-region nav, .header-region div {
	padding-left: 25px;
	text-align: center;
}

nav a {
	font-size: 1em;
	text-transform: uppercase;
}

nav a.active {
	color: #b2d7ff;
}

nav a:hover {
	color: #7ea8e1;
	text-decoration: none;
}

/* login and other forms styling */

#main-content nav.tabs {
	margin-top: 20px;
}

#main-content nav.tabs ul.tabs.primary li a {
	color: gray;
}

/* Home page styling */

body.front.no-sidebars p {
	padding-bottom: 5px;
	padding-top: 20px;
	text-align: center;
}

body.front.no-sidebars div#main-content {
	background:	none;
}

.home_intro {
  font-size: 18px;
	text-align: center;
}

.home_intro h3 {
	color: darkred;
	padding-top: 60px;
}

#home_video {
	text-align: center;
}

#home_video p {
	color: darkred;
	padding-bottom: 5px;
  padding-top: 0;
  text-transform: lowercase;
}

/* Social block styling */

img.socialicons {
	vertical-align: middle;
}

#main-content p a img.socialicons {
	margin: 12px;
}

/* Email form styling */

#mc_embed_signup {
	margin-left: auto;
	margin-right: auto;
}

#mc_embed_signup h2 {
	color: #fff;
	text-align: center;
}

#mc_embed_signup .clear {
	padding-bottom: 65px;
	text-align: center;
}

/* Music page styling */

body.not-front.no-sidebars.node-type-page #main-content h1 {
	text-align: center;
}

#main-content div.field.field-type-soundcloud {
	margin-left: auto;
	margin-right: auto;
  padding-bottom: 25px;
	padding-top: 25px;
  width: 95%;
}

#main-content div.field.field-type-soundcloud div.field-items div.field-item {
	padding-bottom: 10px;
}

#main-content div.field.field-type-bandcamp {
  padding-bottom: 10px;
}

/* Videos page styling */

#main-content .node-page div.field.field-type-video-embed-field {
	padding-bottom: 40px;
	text-align: center;
}

#main-content .node-page div.video-embed-description {
	color: #808080;
  font-size: 1.1em;
  padding-bottom: 20px;
  padding-top: 20px;
  text-transform: uppercase;
}

#main-content .node-page div.embedded-video {
	padding-bottom: 20px;
}

/* Shows page styling */

body.not-front.no-sidebars.page-shows #main-content h1 {
	text-align: center;
}

#main-content section.view-id-shows.view-display-id-page {
  padding-bottom: 25px;
	padding-top: 1px;
}

#main-content section.view-id-shows.view-display-id-page table.views-table.cols-4 {
	margin: 30px auto 50px;
  width: 88%;
}

#main-content section.view-id-shows.view-display-id-page table.views-table.cols-4 thead tr {
	color: #808080;
}

#main-content section.view-id-shows.view-display-id-page table.views-table.cols-4 tbody tr td {
  padding-bottom: 12px;
	padding-top: 12px;
}

#main-content section.view-id-shows.view-display-id-page table.views-table.cols-4 thead tr th.views-field.views-field-field-event-date {
	padding-bottom: 12px;
	padding-left: 20px;
}

#main-content section.view-id-shows.view-display-id-page table.views-table.cols-4 tbody tr td.views-field.views-field-field-event-date time {
	padding-left: 20px;
}

#main-content section.view-id-shows.view-display-id-page table.views-table.cols-4 tbody tr td.views-field.views-field-field-info-link a {
	color: #00a071;
}

.past-shows {
  font-size: 0.95em;
  font-style: italic;
  margin-top: -15px;
  text-align: center;
}

a.past-shows:link {
  color: #808080;
}

a.past-shows:visited {
  color: #808080;
}

a.past-shows:hover {
  color: #808080;
}

a.past-shows:active {
  color: #808080;
}

/* Event details styling */

#main-content article.node.node-event div.content div.field.field-type-datetime {
  color: #3a84df;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-top: 4px;
}

#main-content article.node.node-event div.content div.field.field-type-link-field {
  padding-bottom: 10px;
	padding-left: 10px;
}

#main-content article.node.node-event div.content div.field.field-type-text {
  padding-bottom: 10px;
	padding-left: 10px;
}

span.date-display-start {
  font-weight: bold;
}

span.date-display-end {
  font-weight: bold;
}

/* About page styling */

.about-image {
  margin-left: 20px;
}

#main-content section.view-id-about.view-display-id-page {
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 1px;
}
